button{
  background-color: black;
  border: 1px solid yellow;
  padding: 1em;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  width: auto;
}
button:hover{
  background-color: rgb(136, 128, 128);
  color: white;
}